ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: steelblue;
}

ul li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
}

ul li a:hover {
    background-color: black;
}

h1 {
    color: silver;
    font-size: 100px;
    text-align: center;
    padding: 20px;
    font-family: Abel, sans-serif;
}

ul li h3 {
    display: block;
    color: silver;
    padding: 20px 26px;
    text-align: center;
    float: left;
    margin: 0;

}

body {
    background-color: white;
    font-family: Tahoma;

}

.idk {
    font-size: 100px;
    width: auto;
    height: 600px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li a h3 {
    display: block;
    color: silver;
    padding: 20px 26px;
    text-align: center;
    float: left;
    margin: 0;
}
ul li a h3:hover {
    background-color: black;
}